<div class="header">
    <div class="box">
        <h2>Assignment</h2>
        <div class="select">
            <span class="select-text">All Courses</span>
            <span class="material-icons arrow">expand_more</span>
        </div>
    </div>
    <div class="box">
        <ul>
            <li>
                <a href="#">
                    <span class="material-icons">search</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-icons">notifications_active</span>
                </a>
            </li>
        </ul>
    </div>
</div>